parameters:
    level: 5
    checkMissingIterableValueType: false
    paths:
        - src
        - tests
    ignoreErrors:
        # Ignore skipped tests:
        - message: "#Unreachable statement#"
          paths:
              - tests/Idoit/APIClient/*
