<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/7.0/phpunit.xsd"
    bootstrap="bootstrap.php"
    cacheTokens="false"
    colors="true"
    timeoutForSmallTests="10"
    timeoutForMediumTests="30"
    timeoutForLargeTests="120"
    verbose="true">
    <testsuites>
        <testsuite name="Unit Tests">
            <directory>../tests/</directory>
        </testsuite>
    </testsuites>
    <logging>
        <log type="coverage-text" target="php://stdout" showUncoveredFiles="true"/>
    </logging>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">../src/</directory>
        </whitelist>
    </filter>
    <php>
        <var name="url" value="https://demo.i-doit.com/src/jsonrpc.php"/>
        <var name="key" value="c1ia5q"/>
        <var name="username" value="admin"/>
        <var name="password" value="admin"/>
    </php>
</phpunit>
